/* TODO: delete this and use styled-components instead */

html, body, #root {
  height: 100vh;
  margin: 0;
}

body {
  font-family: 'Roboto', -apple-system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #287485;
}